include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year
include ../../components/figure/figure

- var title = 'Наблюдатель за поражёнными'
- var desc = 'Артём Сошников рассказывает о незаслуженно забытом писателе-эмигранте Гайто Газданове и предлагает читателям один из возможных путеводителей по его романам'
- var id = 'gazdanov'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    include:markdown-it(plugins=['markdown-it-attrs']) ../../../node_modules/soshnikov-writing/publications/blacktrope/gazdanov.md
                    +articleAuthor('Под впечатлением, ','Артём Сошников', 'http://soshnikov-writing.art/')
                    +articleYear('Петроград', '2020')
                div.article__content-right
                    +figure(`${id}`, 'Гайто Газданов, 1920-е')
