include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year
include ../../components/figure/figure

- var title = 'Привал, №2: «Наводнение» Евгения Замятина'
- var desc = 'Раз в неделю в рубрике «Привал» мы советуем по одному реалистическому рассказу, достойному внимания. Во втором выпуске — символическая повесть о любви и смерти в раннесоветском Петрограде'
- var id = 'rest-blagoveschenskiy-on-factory'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    p.article__content-secondary-info Читайте «Наводнение»
                        =" "
                        a(href="https://orwell.ru/library/others/zamyatin/navodnenie/r/r_voda.htm")
                            span на сайте orwell.ru
                        =" "
                        | — совершенно бесплатно
                    p Сегодня утром видел сон, в котором я забыл прислать вам пятничный рассказ. Во сне мне было очень стыдно за свою безответственность, кто-то качал в окне головой и я шарил по шкафам в поисках «Новопассита».
                    p Проснулся в смятении, шатался по квартире, никак не мог подобрать что-нибудь подходящее под настроение. И тут меня осенило.
                    p «Наводнение» Евгения Замятина — повесть, которую я перечитывал трижды. «Наводнение» гудит, не переставая, уровень саспенса в ней запредельный. Замятин пишет о пролетарской семье, живущей при молодой ещё советсткой власти, но это формальность — как и все достойные авторы, Замятин пишет о вечном в антураже эпохи. История, рассказанная Замятиным, могла случиться и в пятнадцатом, и в девятнадцатом веке. В любой стране, в любом городе мира.
                    p «Наводнение» примечательно не только драматургией, но и символизмом. Каждый образ здесь выведен неслучайно, цепляется за сюжет, переплетается с ним воедино. Посмотрите, как танцующий цыганёнок или набухающие почки прорастают в последующих абзацах. Посмотрите, как циклична метафора наводнения.
                    p Повесть до корня русская, во многом из-за преемственности образов. Обойдусь без спойлеров, но гарантирую, что Достоевского вы рано или поздно припомните. Детали кульминации — не заимствование, но отсылка, умножающая психологизм героев на два.
                    p Молодые писатели могут учиться по «Наводнению» писать не в лоб. Как много белые клавиши гармонии говорят о характере мужа! А постоянно сжатые губы Софьи? Замятин мастерски обходит слабые прилагательные, остраняет очевидное.
                    p Одна беда — борясь с утренним смятением, пару часов назад перечитал повесть. Легче не стало. Но книжный магазин «Все свободны» своим опросом «Что читаете, когда грустно?» уже дал нам понять, как мы любим множить грусть тяжёлой прозой.
                    p И я тут далеко не исключение ⚒︎
                    h3 другие выпуски рубрики
                    ul
                        li
                            a(href="rest-valitov-orpheus.html")
                                span Тимур Валитов «Орфей»
                        li Евгений Замятин «Наводнение»
                        li
                            a(href="rest-rasputin-french-lessons.html")
                                span Валентин Распутин «Уроки французского»
                        li
                            a(href="rest-gorchev-from-spb-to-moscow.html")
                                span Дмитрий Горчев «Из Петербурга в Москву»
                        li
                            a(href="rest-vampilov-duck-shooting.html")
                                span Александр Вампилов «Утиная охота»
                        li
                            a(href="rest-nosov-two-tablets.html")
                                span Сергей Носов «Две таблички на газоне»
                        li
                            a(href="rest-rybnikova-train-to-sakhalin.html")
                                span Мария Рыбникова «Поезд на Сахалин»
                        li
                            a(href="rest-blagoveschenskiy-on-factory.html")
                                span Николай Благовещенский «На Литейном заводе»
                        li
                            a(href="rest-mlynchik-pool.html")
                                span Татьяна Млынчик «Бассейн»
                        li
                            a(href="rest-panteleev-bag.html")
                                span Л.Пантелеев «Пакет»
                    +articleAuthor('','Артём Сошников', 'https://soshnikov.space/')
                    +articleYear('Петроград', '2020')
