include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year
include ../../components/figure/figure

- var title = 'Привал, №7: «Поезд на Сахалин» Марии Рыбниковой'
- var desc = 'Раз в неделю в рубрике «Привал» мы советуем по одному реалистическому рассказу, достойному внимания. В седьмом выпуске — романтическая история мальчика Мити в условиях геополитических потрясений ближайшего будущего'
- var id = 'rest-rybnikova-train-to-sakhalin'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    p.article__content-secondary-info Читайте рассказ «Поезд на Сахалин»
                        =" "
                        a(href="https://ru.bookmate.com/books/L6fyorxl")
                            span на Яндекс.Дзене
                        | — абсолютно бесплатно
                    p ​​Героиню сегодняшнего выпуска «Привала» я позволю себе называть Машей.
                    p Помните, я обещал предупреждать, если знаю автора лично? С Машей Рыбниковой мы учимся в одной литературной мастерской. Неделю назад я прочёл её рассказ в сборнике «Вечеринка с карликами» и он меня покорил.
                    p Никакого кумовства, рекомендация абсолютно искренняя.
                    p Итак, «Поезд на Сахалин» — отличный пример того, как произведение говорит с нами о вечном в антураже будущего. По сюжету мальчик Митя приезжает на каникулы в посёлок к дедушке с бабушкой. Привычный ход вещей рушится из-за объявленной японцами войны, а влюблённость толкает Митю на необдуманную браваду.
                    p Рассказ предвосхитил время, предугадал ощущение изменяющегося мира. Эпидемия — та же война, и на ней тоже нужны добровольцы. В Москве уже набирают санитаров, волонтёры развозят еду пожилым. Да и фраза главного героя «Что это? Настоящая, не киношная война?» метко очерчивает спектр наших переживаний. Мир, кончину которого можно было представить разве что в фильмах-катастрофах, дрогнул. Мы встревожились, но одновременно с этим в нас ёкнула загнанная куда-то глубоко жажда полноводной жизни. Жизни, которую давно уже затянуло болотом повседневности.
                    p Я полюбил «Поезд на Сахалин» именно за внимательность к ментальности русской цивилизации. Фронт далеко, войну ещё не объявили, но дед уже достал дробовик. Люди бегут записываться в добровольцы, ими гордятся, личные переживания никого не волнуют. Не до нытья.
                    p Стремление служить великой цели, доходящее до самопожертвования, стойкое принятие испытаний — загадки, сопровождающие нас не одно десятилетие. Их можно не любить и списывать на варварство, ими можно упиваться, но рассказы на подобном материале получаются очень фактурными.
                    p В начале разбора я не зря заговорил о вечном. Прежде всего, «Поезд на Сахалин» — история взросления, рассказ о первой влюблённости и настоящей дружбе. Несмотря на ироничный образ деда или безумно забавную сцену превращения Мити в Гурика, рассказ нельзя назвать юмористическим. Он серьёзен, временами драматичен, говорит с нами на языке искренности и ностальгии (привет, осцилляция!). Добавьте сюда смешение жанра с реализмом — и получите не прозу о будущем, а прозу будущего, тот самый пресловутый метамодернизм. ⚒
                    h3 другие выпуски рубрики
                    ul
                        li
                            a(href="rest-valitov-orpheus.html")
                                span Тимур Валитов «Орфей»
                        li
                            a(href="rest-zamyatin-waterflood.html")
                                span Евгений Замятин «Наводнение»
                        li
                            a(href="rest-rasputin-french-lessons.html")
                                span Валентин Распутин «Уроки французского»
                        li
                            a(href="rest-gorchev-from-spb-to-moscow.html")
                                span Дмитрий Горчев «Из Петербурга в Москву»
                        li
                            a(href="rest-vampilov-duck-shooting.html")
                                span Александр Вампилов «Утиная охота»
                        li
                            a(href="rest-nosov-two-tablets.html")
                                span Сергей Носов «Две таблички на газоне»
                        li Мария Рыбникова «Поезд на Сахалин»
                        li
                            a(href="rest-blagoveschenskiy-on-factory.html")
                                span Николай Благовещенский «На Литейном заводе»
                        li
                            a(href="rest-mlynchik-pool.html")
                                span Татьяна Млынчик «Бассейн»
                        li
                            a(href="rest-panteleev-bag.html")
                                span Л.Пантелеев «Пакет»
                    +articleAuthor('','Артём Сошников', 'http://soshnikov-writing.art/')
                    +articleYear('Петроград', '2020')
