include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year
include ../../components/figure/figure

- var title = 'Привал, №3: «Уроки французского» Валентина Распутина'
- var desc = 'Раз в неделю в рубрике «Привал» мы советуем по одному реалистическому рассказу, достойному внимания. В третьем выпуске — ностальгическая история переезда из деревни в город от Валентина Распутина, ставшая классикой'
- var id = 'rest-rasputin-french-lessons'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    p.article__content-secondary-info Читайте рассказ «Уроки французского»
                        =" "
                        a(href="flibusta.is/b/509466/read")
                            span на Флибусте
                        =" "
                        | — совершенно бесплатно
                    p Прежде мы говорили о роли деталей и символов в прозе. Пришло время сместиться к другим достоинствам литературы: знанию материала и вниманию к вечному, так что на этих выходных советую вам «Уроки французского» Валентина Распутина.
                    p Распутин пишет просто и прямо, образности в его рассказах не найдёшь. Для нас это преимущество — в случае «Уроков французского» чем проще письмо, тем легче оценить глубину материала.
                    p Мальчишка одиннадцати лет уезжает из деревни в город, учиться в школе. Через конфликт Распутин показывает нам быт и бедность послевоенного крестьянства, но вместе с этим — целеустремленность и упёртость поколения, напрочь лишённого детства.
                    p Но это только первый слой повествования. «Уроки французского» — рассказ об урбанизации русского народа, о сломе деревенского уклада. Мальчишка не вписывается в чуждый ему город речью, одеждой, принципами. В городе иные нравы и законы, иные причины голода, даже молоко приходится покупать на рынке, а не доить корову.
                    p Но в конечном итоге рассказ служит не столько хроникой эпохи, сколько разговором о чести и стойкости, любви и сострадании. Учительница французского, пожалевшая голодающего вдали от дома мальчишку, играет в рассказе столь же важную роль, что и сам ученик.
                    p Способность Распутина говорить просто о важном и сделали  «Уроки французского» классическим рассказом; эта простота к тому же отличается точностью — характеры героев и наше отношение к ним полностью совпадают.
                    p Вывести читателя из равновесия невычурой прозой сложно. Распутину удалось ⚒︎
                    h3 другие выпуски рубрики
                    ul
                        li
                            a(href="rest-valitov-orpheus.html")
                                span Тимур Валитов «Орфей»
                        li
                            a(href="rest-zamyatin-waterflood.html")
                                span Евгений Замятин «Наводнение»
                        li Валентин Распутин «Уроки французского»
                        li
                            a(href="rest-gorchev-from-spb-to-moscow.html")
                                span Дмитрий Горчев «Из Петербурга в Москву»
                        li
                            a(href="rest-vampilov-duck-shooting.html")
                                span Александр Вампилов «Утиная охота»
                        li
                            a(href="rest-nosov-two-tablets.html")
                                span Сергей Носов «Две таблички на газоне»
                        li
                            a(href="rest-rybnikova-train-to-sakhalin.html")
                                span Мария Рыбникова «Поезд на Сахалин»
                        li
                            a(href="rest-blagoveschenskiy-on-factory.html")
                                span Николай Благовещенский «На Литейном заводе»
                        li
                            a(href="rest-mlynchik-pool.html")
                                span Татьяна Млынчик «Бассейн»
                        li
                            a(href="rest-panteleev-bag.html")
                                span Л.Пантелеев «Пакет»
                    +articleAuthor('','Артём Сошников', 'http://soshnikov-writing.art/')
                    +articleYear('Петроград', '2020')
