include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year
include ../../components/figure/figure

- var title = 'Привал, №1: «Орфей» Тимура Валитова'
- var desc = 'Раз в неделю в рубрике «Привал» мы советуем по одному реалистическому рассказу, достойному внимания. В первом выпуске — «Орфей» многообещающего писателя Тимура Валитова.'
- var id = 'rest-valitov-orpheus'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    p.article__content-secondary-info Прочесть рассказ «Орфей» вы можете в
                        =" "
                        a(href="https://drive.google.com/file/d/1DoIvkWkKH7-lp_CXXJZ3qyjnJb5taDBx/view")
                            span первом выпуске
                        =" "
                        | журнала «Незнание»
                    p Для написания хорошей прозы талант необходим, но голого таланта недостаточно. Писатели, на мой взгляд, обладают навыками интуитивными и приобретёнными. Важнейший из интуитивных — чуткость к пошлости.
                    p Чуткостью этой могут обладать как авторы, так и читатели. Одарённого человека подсознательно коробит от картонных диалогов, неестественного поведения героев или шаблонных образов. Если читатель находит в себе силы оформить интуитивное неприятие в мысль, он становится критиком.
                    p Для тех, кто создаёт и оценивает прозу, чуткость необходима. Писатель без чуткости сильно зависим от редактора. Такого автора, конечно, можно превратить в издательский проект, но вычищать за ним пошлость придётся постоянно. Критик без чуткости обречён нахваливать слабые произведения — и одарённый читатель даже без оформленного в сознании сомнения будет распознавать в рекомендованной книге липу, терять к материалам критика доверие.
                    p Тимур Валитов — писатель, несомненно, талантливый и в чуткости ему не занимать. Рассказ «Орфей» послужит нам хорошим примером.
                    p Валитов развивает действие пунктиром — нет, деталями, которые цепляются друг за друга. Детали эти настолько характерные, что воображение сразу же заполняет образами недостающую картину. Пластырь на пальце, питьевой йогурт среди купальников, полосатый костюм — каждая мелочь имеет скрытый смысл.
                    p Способ повествования перекликается с языком. Короткие предложения, минимум эпитетов, порой — нарочно пропущенные члены предложения. Частые паузы дают нам вздохнуть, мысленно оглядеться, из-за чего рассказ оживает в нескольких измерениях и уже не кажется коротким шестистраничником.
                    p Не будь у Валитова чуткости, он бы написал прямым текстом, что Гомонов толстый и от него пахнет пóтом, что Наталья Петровна безвкусно одевается и носит советскую причёску, что главному герою плевать и на доклад, и на конференцию в целом. И наша фантазия бы задохнулась, мы не смогли бы насытить рассказ деталями из личного опыта.
                    p Но таких рассказов у молодых авторов полно, а «Орфеев» — мало ⚒︎
                    h3 другие выпуски рубрики
                    ul
                        li Тимур Валитов «Орфей»
                        li
                            a(href="rest-zamyatin-waterflood.html")
                                span Евгений Замятин «Наводнение»
                        li
                            a(href="rest-rasputin-french-lessons.html")
                                span Валентин Распутин «Уроки французского»
                        li
                            a(href="rest-gorchev-from-spb-to-moscow.html")
                                span Дмитрий Горчев «Из Петербурга в Москву»
                        li
                            a(href="rest-vampilov-duck-shooting.html")
                                span Александр Вампилов «Утиная охота»
                        li
                            a(href="rest-nosov-two-tablets.html")
                                span Сергей Носов «Две таблички на газоне»
                        li
                            a(href="rest-rybnikova-train-to-sakhalin.html")
                                span Мария Рыбникова «Поезд на Сахалин»
                        li
                            a(href="rest-blagoveschenskiy-on-factory.html")
                                span Николай Благовещенский «На Литейном заводе»
                        li
                            a(href="rest-mlynchik-pool.html")
                                span Татьяна Млынчик «Бассейн»
                    +articleAuthor('','Артём Сошников', 'http://soshnikov-writing.art/')
                    +articleYear('Петроград', '2020')
