include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year
include ../../components/figure/figure

- var title = 'Привал, №6: «Две таблички на газоне» Сергея Носова'
- var desc = 'Раз в неделю в рубрике «Привал» мы советуем по одному реалистическому рассказу, достойному внимания. В шестом выпуске —  история внутренней борьбы маленького человека из Петербурга'
- var id = 'rest-nosov-two-tablets'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    p.article__content-secondary-info Читайте рассказ «Две таблички на газоне»
                        =" "
                        a(href="https://ru.bookmate.com/books/L6fyorxl")
                            span в сборнике «Построение квадрата на шестом уроке»
                        =" "
                        |на портале Bookmate
                    p Каждый раз, когда писатель Сергей Носов идёт навстречу вдоль Карповки или переходит по зебре Чкаловский проспект, у меня поднимается настроение. Радует, что я знаю в лицо Сергея Носова, что литературный мир, до того далёкий и виртуальный, прорастает сквозь реальность. Теперь я встречаю писателей не только на страницах книг, но и по дороге из офиса к станции метрополитена.
                    p А ещё больше меня радует, что Сергей Носов обо мне не знает и не замечает моего взгляда. Иногда, завтракая, я захожу к нему на фейсбук и листаю фотографии. Сергей Носов любит Петроградку и делится с друзьями забавными наблюдениями. Вот он сфотографировал граффити «Аборт — это убийство». Прошлой весной эти трафареты заполонили тротуары вокруг улицы Попова. А вот — хроника разрушения заброшенной гостиницы «Северная корона», на месте которой собираются строить жилищный комплекс бизнес-класса. Через полчаса я иду вдоль огороженной территории гостиницы, проверяю. Действительно, за выходные снесли порядочно… Вечером сажусь писать очередную главу
                        =" "
                        a(href="http://soshnikov-writing.art/dear-citizens")
                            span повести
                        |. «Северная Корона» — одна из локаций. Она вдохновляет меня точно так же, как и настоящего писателя Сергея Носова.
                    p В восемнадцатом году я уже
                        =" "
                        a(href="nosov-square.html")
                            span рассказывал
                        =" "
                        |вам про сборник «Построение квадрата на шестом уроке»:
                    blockquote
                        p «В читательской среде Сергей Носов — писатель непопулярный, чаще всего его путают с автором «Незнайки на Луне» или смущённо пожимают плечами.
                        p Зато Носова чтут и любят в профессиональной среде: Леонид Юзефович советует творчество писателя в фейсбуке, Лев Данилкин упоминает книгу о памятниках в ‘‘Пантократоре солнечных пылинок’’, книги Носова выходят в редакции Елены Шубиной».
                    p Что ж, продлим сборнику жизнь. Благо, в нём немало добротных рассказов. На этих выходных советую прочесть «Две таблички на газоне» — историю про уволенного микробиолога Тамару Михайловну. Тамара Михайловна живёт на первом этаже, окно её кухни выходит на газон, собачники выгуливают на газоне своих питомцев — и, конечно же, не убирают за ними «говешки».
                    p Не знаю, вкладывал ли Носов в рассказ скрытые смыслы, но в Тамаре Михайловне я рассмотрел олицетворение русского народа. Завязка, кульминация, финал — всё в этой интепретации обрастает глубинным смыслом. По традиции, обойдёмся без спойлеров.
                    p Привязывать прозу Носова к великим геополитическим или культурным контекстам немного странно. На моей литературной карте Носов продолжает дело Гоголя и Чехова. Маленький человек в его рассказах неизменно обаятелен, а короста политики, социологии, общественных ритуалов кажется незначительной мишурой, скрывающей от нас суть вещей и жизни. Носов как никто другой умеет показывать наше существование отстранённо, вскрывать глупость, противопоставлять вечное наносному.
                    blockquote «Понимает, что поспешила: села перед телевизором за двадцать минут до передачи. Значит, вкусненькое вместе с горячим чаем кончится еще до начала ‘‘Так ли плохо?’’. Тамара Михайловна не любит, когда на вкусненькое выпадают блоки рекламы, но ничего не поделаешь – не ждать же, когда чай остынет».
                    p Я, кстати, с недавних пор тоже живу на первом этаже. Но собаки на газон почему-то не гадят — видимо, раньше их водили в сад неподалёку, портить настроение гуляющим петербуржцам. А сейчас я изредка вижу, как какой-нибудь мужчина в эйрподсах смущённо подбирает какашку пакетиком и несёт её в мусорку.
                    p Культура, что скажешь. Но тут и подъезды называют парадными. И в мусоропроводы никто не ссыт ⚒
                    h3 другие выпуски рубрики
                    ul
                        li
                            a(href="rest-valitov-orpheus.html")
                                span Тимур Валитов «Орфей»
                        li
                            a(href="rest-zamyatin-waterflood.html")
                                span Евгений Замятин «Наводнение»
                        li
                            a(href="rest-rasputin-french-lessons.html")
                                span Валентин Распутин «Уроки французского»
                        li
                            a(href="rest-gorchev-from-spb-to-moscow.html")
                                span Дмитрий Горчев «Из Петербурга в Москву»
                        li
                            a(href="rest-vampilov-duck-shooting.html")
                                span Александр Вампилов «Утиная охота»
                        li Сергей Носов «Две таблички на газоне»
                        li
                            a(href="rest-rybnikova-train-to-sakhalin.html")
                                span Мария Рыбникова «Поезд на Сахалин»
                        li
                            a(href="rest-blagoveschenskiy-on-factory.html")
                                span Николай Благовещенский «На Литейном заводе»
                        li
                            a(href="rest-mlynchik-pool.html")
                                span Татьяна Млынчик «Бассейн»
                        li
                            a(href="rest-panteleev-bag.html")
                                span Л.Пантелеев «Пакет»
                    +articleAuthor('','Артём Сошников', 'http://soshnikov-writing.art/')
                    +articleYear('Петроград', '2020')
