include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year
include ../../components/figure/figure

- var title = 'Привал, №5: «Утиная охота» Александрва Вампилова'
- var desc = 'Раз в неделю в рубрике «Привал» мы советуем по одному реалистическому рассказу, достойному внимания. В пятом выпуске — пьеса о петле совесткого быта и человеческих пороках, которые невозможно оправдать'
- var id = 'rest-vampilov-duck-shooting'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    p.article__content-secondary-info Читайте пьесу «Утиная охота»
                        =" "
                        a(href="http://lib.ru/PXESY/WAMPILOW/vampilov_ohota.txt")
                            span на портале lib.ru
                        =" "
                        | — совершенно бесплатно
                    p Пятый выпуск «Привала» невзначай пересёкся с двумя предыдущими. Не подумайте, что я притягиваю ситуацию за уши, но рассказ Валентина Распутина «Уроки французского» (который многие из вас полюбили) впервые издали в газете «Советская молодёжь». Номер был посвящён памяти драматурга Александра Вампилова.
                    p У Вампилова с Распутиным много общего. Оба родились в сёлах, росли в послевоенные годы, попали в первую волну городских переселенцев. Оба жили в Иркутске и работали в газете. Урбанизация оказала на их прозу непосредственное влияние.
                    p Как и все хорошие авторы, Вампилов писал о вечном. Его пьесы пронизаны лёгкой грустью, человечностью и поиском предназначения. Вампилов внимательно работал с иронией и бытовым абсурдизмом как с приёмами маскировки вечного. Юмор, по мнению Вампилова — «убежище, в которое прячутся умные люди от мрачности и грязи».
                    p В этом, кстати, он схож в героем предыдущего выпуска Дмитрием Горчевым. Та же ирония, то же пристальное внимание к быту.
                    p Я уже советовал Вампилова старым-добрым подписчикам. На этот раз прочтите «Утиную охоту». В отличие от Горчева, Вампилов людей скорее любит — и не издевается над вещичками. Предметы в его прозе помогают раскрыть характеры героев, не более. Чего только стоит осмотр новой квартиры Валерией!
                    p Для меня Вампилов был и остаётся гением драматургии. Прочёл пьесу — считай, сходил в театр, настолько Вампилов умеет очерчивать героев через действие. Но «Утиную охоту», алики, я выбрал не только ради рекомендации.
                    p Пьесу активно обсуждали и до, и после развала Союза. Отношение критиков к главному герою разнилось: большинство считали Зилова говном, но нашлись и те, кто инженеру откровенно сочувствовал.
                    p Я, как ни старался, не смог оправдать Зилова. Но я тот ещё моралист, а что же вы? Есть ли у Зилова шанс на сочувствие в двадцать первом веке?
                    h3 Ответ читательницы
                    blockquote
                        p Он мне искренне противен — особенно за женщин обидно, за всех разом, даже за Веру. Да и за мужиков тоже обидно — что за друг такой странный у них?
                        p Но, с другой стороны, мне невероятно знакомо это чувство — когда кажется, что всё. Вот всё. Ничто тебя не спасёт, ты увяз где-то глубоко внутри себя, что ты ни делай — становится только хуже.
                        p Ещё вот это ощущение распоясанных чувств и эмоций: ты делаешь что-то под их влиянием и типа освобождаешься, но последствия такие, что ещё больше увязаешь внутри себя. И, когда наступает это «всё», ты почти буквально решаешь покончить с самим собой, потому что дошёл до предела. А жизнь тебя вздёргивает, возвращает и как будто говорит «нет, с этим дерьмом тебе придётся если не разобраться, то жить точно».
                        p Читательница Саша, сокурсница автора «Чернотропа» по лит.мастерской
                    p Я так и не смог найти равновесия между двумя полюсами, которые обозначила Саша в своём сообщении, я не смог оправдать героя. Несмотря на то, что у Зилова налицо экзистенциальный кризис и мещанские прелести новой жизни не дарят ему ничего, кроме скуки, в моей системе существуют базовые ценности, нарушение которых меня отталкивает. Не люблю людей, которые пользуются наивностью других. Не люблю тех, кто манипулирует любовью и лицемерит друзьям. Да, быть честным удаётся не всегда, но стремиться как минимум стоит.
                    p Так что говно ты, Зилов.
                    p Ну а кризис — что кризис? У кого его нет ⚒︎
                    h3 другие выпуски рубрики
                    ul
                        li
                            a(href="rest-valitov-orpheus.html")
                                span Тимур Валитов «Орфей»
                        li
                            a(href="rest-zamyatin-waterflood.html")
                                span Евгений Замятин «Наводнение»
                        li
                            a(href="rest-rasputin-french-lessons.html")
                                span Валентин Распутин «Уроки французского»
                        li
                            a(href="rest-gorchev-from-spb-to-moscow.html")
                                span Дмитрий Горчев «Из Петербурга в Москву»
                        li Александр Вампилов «Утиная охота»
                        li
                            a(href="rest-nosov-two-tablets.html")
                                span Сергей Носов «Две таблички на газоне»
                        li
                            a(href="rest-rybnikova-train-to-sakhalin.html")
                                span Мария Рыбникова «Поезд на Сахалин»
                        li
                            a(href="rest-blagoveschenskiy-on-factory.html")
                                span Николай Благовещенский «На Литейном заводе»
                        li
                            a(href="rest-mlynchik-pool.html")
                                span Татьяна Млынчик «Бассейн»
                        li
                            a(href="rest-panteleev-bag.html")
                                span Л.Пантелеев «Пакет»
                    +articleAuthor('','Артём Сошников', 'http://soshnikov-writing.art/')
                    +articleYear('Петроград', '2020')
