include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/figure/figure

- var title = 'Попытаться стоило'
- var desc = 'Ксении Букше снова не покорился сюжет, но прежние таланты остались при ней.'
- var id = 'buksha-churov-i-churbanov'

doctype html
html(prefix="og: http://ogp.me/ns#")
    +head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    p ​​​Две недели назад собрался как можно быстрее написать о «Чурове и Чурбанове» Ксении Букши, но допустил две роковые ошибки.
                    p Ошибка первая: я пошёл на презентацию романа.
                    p Ошибка вторая: ещё до прочтения книги у меня в голове крутилась догадка и я не удержался, задал Ксении на презентации вопрос.
                    p Догадка у меня неказистая. До встречи я подозревал, что Букша (намеренно или нет) реанимирует жанровую прозу.
                    p У нас же до недавних пор было как: есть интеллектуальная внежанровая литература, её читают умные и красивые люди, а есть орки и задроты, они хавают фантастику и детективы. Одни покупают книги в красивых магазинах, вторые побираются покетами в киосках у метро. Книгу «Редакции Елены Шубиной» приятно прочесть в самолёте, а жанровую литературу только в плацкарт с собой брать, да носком соседа страницы закладывать. А то чего ж носку стоять в углу без дела!
                div.article__content-right
                    +figure(`${id}`, 'Ксения Букша «Чуров и Чурбанов». Издательство «АСТ», 2020. 170 с.')
            div.article__content-row
            div.article__content-left
                p Ладно. Я иронизирую, конечно. Времена изменились, Шубина спокойно издаёт и славянское фэнтези Рубанова, и романы Алексея Сальникова.
                p Ксения Букша, наряду с тем же Сальниковым, миксует реализм с фантастическими элементами — и тем самым вытаскивает жанровую прозу из маргинального подполья.
                p Оказалось, что нет у писательницы никакой задачи легитимизировать жанровую литературу. Она, как я понял, вообще к ней равнодушна. Не мыслит Букша такими категориями. И реализм не любит. В её картине мира собственная проза не является отражением действительности и не должна отличаться правдоподобностью. Грань перехода реальности в литературу у Букши толстенная, на уровне «Вот я сижу сейчас с вами — и это реальность. А в книге никакой реальности быть не может».
                p Разбив догадку о личность писательницы, я прочёл «Чурова и Чурбанова» за два дня.
                p Плюсы Букши остались при ней: мастерская работа с героями, их характерами и голосами, меткий росчерк современности и прямой о ней разговор. Мало кто работает с монологами и речью так, как Букша. Тут она гениальна.
                p Но и минусы никуда не делись. Букша сама призналась, что не любит сюжет — и он в книге слабоват. Несмотря на то, что мы следим за героями с детства, сюжет напоминает затравку недописанного романа. После 284-й страницы ожидаешь развязку, но вместо продолжения читаешь задник.
                p Классно, конечно, следить за судьбой героев по реперным точкам их жизней. Сравниваешь, как изменился характер, подмечаешь новое… Только вот перескакивания по кочкам никуда не приводят, в голове остаются десятки неразрешённых вопросов.
                div.article__content-secondary-info ⚠️ Спойлеры. Пропустите абзац
                p
                 i Это всё же блэкаут или конец света? Что за хозяин рыболовного магазина, зачем он помог Чуровым? Это бог, ангел, дьявол-искуситель? Зачем сидел с Чурбановым? Чуров решил спасти детей в отделении, а о своих двух не подумал? Они спасли кого-то в итоге? Умерли? Нет?
                p После прочтения растерялся. Изучать прозу Букши дальше не нужно, её сильные и слабые стороны уже понятны. Помещать в иерархию поздно — говорят, нет больше никакой иерархии, да и плевать на эту тусовочную возню, если честно. Остаётся читать ради удовольствия. Хиленький сюжет удовольствия не доставляет.
                p Что ж, будем наслаждаться грубым реализмом, народностью и поэтическим орнаментом. Но назвать «Чурова и Чурбанова» романом нельзя. Фундаментом романа — да. Фундаментом — может быть.
                +articleAuthor('','Артём Сошников', 'http://soshnikov-writing.art/')
