include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author

- var title = 'Русская молодёжь одержима путешествиями?'
- var desc = 'Артём Сошников рассказывает на примере прозы XIX-го века, почему вам порой тошно заглядывать в Инстаграм'
- var id = 'selfie-vs-sword'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    p Заходишь в Инстаграм — и тут же его закрываешь. Наступила пора отпусков и друзья выкладывают фото. Вот одноклассница стоит у Эйфелевой башни. Вот однокурсник уехал зимовать на Бали. Вот коллега подкармливает попугаев в парке Барселоны.
                    p Десять лет назад счастливчики, побывавшие заграницей, приносили нам CD-диски с фотографиями. Двести семьдесят несортированных кадров. Мы садились перед компьютером всем семейством и смотрели каждую. Это мы в горах. А это наш номер в отеле (Андрей забрал оттуда на память полотенце). А вот так у них выкидывают мусор.
                    p Теперь достаточно трёх минут. Заходишь в Инстаграм и закатываешь глаза. Ну, давайте. На каком фоне в этот раз?
                    p Будапешт.
                        br
                        | Берлин.
                        br
                        | Тбилиси.
                    p За последние годы у нас выработалась не только баннерная, но и пейзажная слепота.
                div.article__content-right
                    figure
                        img(src="../../img/section-pogodin.png")
                        figcaption Михаил Полевой закатывает глаза
            div.article__content-row
                div.article__content-left
                    p Хочется заявить: «Русская молодёжь одержима путешествиями!», но тебя тут же макнут лицом в нюансы, потребуют статистику. Что ж, вот она.
                    div.article__content-secondary-info
                        p
                            | В 2019-м году 70% российских миллениалов назвали главным приоритетом «путешествовать и увидеть мир» —
                            =" "
                            a(href="https://pro.rbc.ru/news/5ce2de0c9a794743657dce2f")
                                span Deloitte
                        p 80% опрошенных считают, что это достижимо.
                    p Впрочем, жизнь богаче статистики. Трэвел-блогеры снимают сливки с Ютуба, у «Орла и решки» миллионы подписчиков в соц.сетях, порноактрисы одним из плюсов профессии
                        =" "
                        a(href="https://youtu.be/g9UQ-qdyy_4?t=5255")
                            span называют
                        =" "
                        | возможность путешествовать. А ещё в вокруг постоянно говорят о поездках, планируют их, мечтают. И это не олигархи, не новые дворяне при погонах. Выходцы из народа, провинциалы. Маркетологи, бармены, айтишники, стюардессы.
                    p Ниточкой истории тянется это желание от путинской автократии к царю-батюшке. Через Советский Союз.
                    p При царе простолюдины путешествовали редко. Пока вронские с карениными переживали драмы в палаццо, крестьяне батрачили, выживали и нередко пухли с голоду.
                    p Но лазейки всё же существовали. Один из примеров нашёлся у прозаика девятнадцатого века Михаила Полевого.
                    p В 1834-м году Полевой (сын купца, отказавшийся от семейного бизнеса ради литературы) издал «
                        a(href="http://az.lib.ru/p/polewoj_n_a/text_0140.shtml")
                            span Рассказы русского солдата
                        | » — трагическую быль о жизни крестьянина Сидора.
            div.article__content-row
                div.article__content-left
                    div.article__content-secondary-info
                        h5 Осторожно, спойлеры! Сюжет одним абзацем
                        p.article__content-secondary-text Сидор влюбляется в местную красавицу Дуняшу ❧ Она отвечает ему взаимностью ❧ Отец не одобряет их союз — Дуняшу уже сосватали за сына старосты ❧ Молодые сбегают, долго мирятся с лишениями ❧ Отец прощает дочь ❧ Оспа убивает Дуняшу и младенца ❧ Староста мстит и подтасовывает жребий рекрутского набора ❧ Отчаявшийся Сидор соглашается пойти на службу вместо брата.
            div.article__content-row
                div.article__content-left
                    p За двадцать лет службы Сидор побывал в Италии, Австрии, Прибалтике и Швеции. Комиссовавшись, он долго искал себе новый дом и остановился в Малороссии, где стал для деревенской общины кем-то вроде трэвел-блогера — рассказывал жителям байки о военных походах, традициях и нравах чужестранцев.
                    blockquote Но итальянская земля, ваше благородие, еще мудренее: у них вместо нашей березы и сосны — лимоны да померанцы; и зимы нет — такая земля, что не благословил ее бог снегом, и прокатиться на санях некогда и негде — и все такая теплынь, что потеешь, потеешь, бывало, да и тьфу ты, пропасть какая! Девци у них хороши, только все басурманки, поклоняются римскому папе и против русских дородностью не будут.
                    p Правда, есть один нюанс: вместо пауэрбэнка и смартфона рекрут-путешественник носил при себе саблю, ружьё и пригласительный от смерти. Да и сами походы мало походили на копеечные перелёты авиакомпанией Ryanair.
                    p Спустя восемьдесят лет после публикации «Рассказов русского солдата» революция перевернула страну с ног на голову — но несправедливость перевернулась вместе с ней. Большевики даровали народу закрепы к колхозам и железный занавес, через который простолюдины просачивались разве что в Венгрию или Болгарию.
                    p Ощущая себя Марией Степановой, достаю из комода семейный фотоальбом. Рассматриваю фотографии деда из Африки, Мексики, Франции, ГДР, Кубы и ещё двадцати с лишним стран. Мой дед, обычный крестьянский сын, был штурманом «Антея». За сто лет лазейку так и не заделали.
                    p.article__content-main-thought И вот, после развала Советского Союза потомки рабочих и крестьян могут беспрепятственно путешествовать, не завоёвывая.
                    p Мы чуть ли не первые выходцы из народа, кто ходит по чужим странам и делает селфи, а не залпы. Поэтому нас так и тянет изучать мир вокруг. Нужно насмотреться за всех, кто провёл жизнь на фоне одного и того же пейзажа.
                    p А Михаил Полевой забыт русской литературой. Немного несправедливо — учитывая, что через его прозу до сих пор прорастает современность.
                    p Не поленитесь, прочтите
                        =" "
                        a(href="http://az.lib.ru/p/polewoj_n_a/text_0140.shtml")
                            span «Рассказы русского солдата»
                        |. Возьмите их в самолёт.
                    p Время в пути составит два часа двадцать минут. Пожалуйста, не оставайтесь с застёгнутыми ремнями в пределах Отечества.
                    +articleAuthor('','Артём Сошников', 'https://soshnikov.space/')
