include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year

- var title = 'О романе Андрея Рубанова «Патриот»'
- var desc = 'Роман-победитель «Ясной Поляны» получился неоспоримо мастерским — плотно сбитым, монолитным, с великолепными диалогами и плавно перетекающим сюжетом'
- var id = 'rubanov-patriot'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    p Уже с первой части заметно, насколько большую работу проделал автор: любые темы, которых он касается по ходу действия, будь то бодибилдинг, премия GQ или сёрфинг, написаны со знанием дела. Взгляд не спотыкается ни о лишние слова, ни о непонятные вставки, за что стоит сказать отдельное спасибо редактору.
                    p После повального увлечения историческими романами в большую литературу постепенно возвращается актуальная повестка. Что ж, вдвойне радостно, что «Патриот» не боится говорить с нами о насущных проблемах: экономическом кризисе, войне, ДНР и рефлексии по девяностым. Рубанов блуждает между знаковыми вопросами эпохи, легко и свободно переключаясь на вечные темы взаимоотношений отцов и детей, мужчин и женщин, друзей и врагов через призму противоречивого главного героя, которому в любом случае симпатизируешь.
                div.article__content-right
                    figure
                        img(src="../../img/rubanov-patriot-cover.jpg")
                        figcaption Андрей Рубанов «Патриот». Издательство «АСТ», 2017. 440 с.
            div.article__content-row
                div.article__content-left
                    p Отдельно хочется упомянуть концовку. Вибрирующая и напряжённая, она принадлежит тому типу развязок, которые проглатываешь целиком, забывая про время или естественные нужды. Дочитав её спустя два часа, ты несёшься в туалет и там, разглядывая кафельную плитку, думаешь: Охуеть. Вот это да. Вот так завернул…
                    p «Патриот» заслуженно выиграл «Ясную Поляну» и попал в финал «Большой книги». Открывая роман, первым делом боишься нарваться на что-то великодержавное, отдающее квашенной капустой и империалистической пропагандой, но «Патриот» написан в высшей степени корректно. Иногда даже чересчур корректно — натыкаясь на легко разрешаемые конфликты государственников и либералов, ловишь себя на мысли: в жизни обстановка гораздо истеричнее и жёстче. Но Рубанов намеренно заменяет жёсткость вопросами высшего порядка, из-за чего даже прототип Галицкого, обличённый автором, не кажется нам откровенно негативным персонажем.
                    p Да, такова жизнь. Возможно, нам просто нужно дожить до сорока восьми.
                    p Открывать патриотические магазины при этом необязательно.
                    +articleAuthor('','Артём Сошников', 'http://soshnikov-writing.art/')
                    +articleYear('Петроград', '2017')
