include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year
include ../../components/figure/figure

- var title = 'Мёртвый китайский Хемингуэй'
- var desc = 'Его звали Ху Бо и он покончил с собой. «Сеанс» перевёл несколько рассказов'
- var id = 'hu-bo-elephant'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    p У журнала «Искусство кино» довольно любопытная литературная рубрика. Например, в номере 5/6 опубликованы рассказы китайского писателя и режиссёра Ху Бо, чей фильм «Слон сидит спокойно» показывали в столице в октябре прошлого года.
                    p На сеанс я попал случайно — планировал поспать четыре часа в кинозале во время сессии ШКЖ. Ну, ладно, не буду врать — во мне теплилась надежда не уснуть и впервые за двадцать восемь лет посмотреть китайскую картину. Интригу нагнетал тот факт, что Ху Бо недавно покончил с собой. По слухам, из-за конфликта с продюсерами.
                    p Перед сеансом развлекался тем, что искал взглядом Посвящённых. Они должны были надуваться, как павлины — потому что, во-первых, они знают, кто такой Ху Бо. Во-вторых, он умер, а это же всегда так загадочно и вообще волнует. В-третьих, друзья и подружки фильм не посмотрят, потому что показ эксклюзивный. Ради такого можно пережить и переполненный мочевой пузырь, и затёкшие до коликов ноги.
                div.article__content-right
                    +figure(`${id}`, 'Номер «Искусста кино», в котором опубликлован рассказ.')
            div.article__content-row
                div.article__content-left
                    p Но никто почему-то не выделывался. Наверное, потому что москвичей уже ничем не удивишь… Перед показом к зрителям вышли молодые кинокритики, пробубнили что-то вроде «нуу, ммм, это вот фильм ху бо, его показывали на берлинском кинофестивале, ху бо покончил с собой, больше ничего не снимет, приятного просмотра, всё такое». К моему счастью, парень справа сдался через два часа и ушёл, так что я смог сесть по-человечески. Никогда бы не подумал, что с таким удовольствием протяну ноги…
                    p Фильм в итоге произвёл на меня нехилое впечатление, прежде всего тонкой драматургией и колоритной атмосферой китайской провинции. После сеанса кинокритик Марат Шабаев рассказал в курилке, что журнал «Искусство кино» недавно перевёл три рассказа Ху Цяня (псевдоним Ху Бо), которые и послужили основой сценарию.
                    p Ху Цянь предстаёт русскоязычному читателю китайским Хемингуэем: мастером диалогов и любовных неурядиц, рупором потерянного поколения. Возможно, это заслуга переводчиц Евгении Митькиной и Натальи Власовой (сами понимаете, оригинал оценить я не в состоянии). В любом случае, влияние американской прозы на стиль писателя заметно сразу, даже самые обычные сцены вроде покупки пива или поездки в автобусе Ху Цянь превращает в тягуче-меланхоличное переживание, насыщенное микродраматургией. Про краткую, нарочито сухую прямую речь вообще молчу, данный приём — моя читательская ахиллесова пята.
                    p Досадно, что на русский переведены только три рассказа. Дико жаль, что Ху Цянь больше ничего не напишет.
                    p
                        a(href="http://old.kinoart.ru/archive/2018/5-6/khu-tsyan-slon-sidit-spokojno")
                            span Читать рассказ «Слон сидит спокойно» онлайн
                    +articleAuthor('','Артём Сошников', 'http://soshnikov-writing.art/')
                    +articleYear('Петроград', '2019')
