include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year
include ../../components/figure/figure

- var title = 'Привал, №9: «Бассейн» Татьяны Млынчик'
- var desc = 'Раз в неделю в рубрике «Привал» мы советуем по одному реалистическому рассказу, достойному внимания. В девятом выпуске — реалистическая история о строителе Паше и его сложном моральном выборе'
- var id = 'rest-mlynchik-pool'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    p.article__content-secondary-info Читайте рассказ «Бассейн»
                        =" "
                        a(href="https://vk.com/doc89814241_545243437?hash=4b85bef8d151d2db2f&dl=47446dceb8df043451")
                            span в паблике издательства Éditions Chat
                        =" "
                        | — совершенно бесплатно
                    p ​​Сегодня снова никак не обойтись без тематического выпуска, но советовать вам фронтовой рассказ кажется мне приёмом слишком прямолинейным, потворствующим тому виду патриотизма, который я презираю. Люди, подверженные ему, выставляют гордость напоказ, говорят о подвигах со священным придыханием и готовы растерзать любого, кто не разделяет их чувств. Как показывает история, от подобного патриотизма до нового геноцида ровно один шаг, да и показушность их выкриков сильно напоминает стремление заработать социальный капитал, не имея для этого иных возможностей и талантов.
                    p Фронтовики же, согласно моим наблюдениям, о войне чаще всего молчали. Их молчание в сто крат показательнее любой пафосной речи. Меня всегда поражала не только способность фронтовиков вынести ужасы великой мясорубки, но и то, как они смогли пересоздать себя после, как они выстроили жизнь на обломках сожжённой и растерзанной страны. Несгибаемое поколение. Не тех называют атлантами.
                    p В сегодняшнем рассказе фронтовики тоже молчат — но молчание их определяет развитие сюжета. И раз уж мы ступили на тропу молодой прозы, то задержимся на ней подольше и почитаем рассказ «Бассейн» выпускницы нашей лит.мастерской Тани Млынчик.
                    p Прораб Паша строит загородный дом знаменитому врачу и случайно раскапывает захоронение времён Великой Отечественной войны. Ни начальник, ни хозяин участка не горят желанием проводить эксгумацию. Паша готов потерять заказ, но восстановить справедливость — однако, в дело вмешиваются нюансы, которые не так легко побороть.
                    p В «Бассейне» раскрывается талант Тани выстраивать противоречия  в прозе. Если представить сюжет битвой, то баланс сил расставлен идеально: моральные принципы Паши и его тяга к справедливости уравновешены тяжёлой ситуацией в семье и классовым положением. Жизнь предстаёт в привычном амплуа — запутывает однозначную ситуацию, подкладывает нам то медицинский гений хозяина участка, то письма одного из погибших солдат. Через противоречия «Бассейн» раскрывает извечное противостояние соблазнов и принципов, личного и общественного, эмпатии и эгоизма. Останки солдат служат здесь моральной константой, своеобразным мерилом стойкости.
                    p Самым ярким персонажем рассказа для меня стал врач Валериан. Карлик с «рыжими горильими глазами», со «скользкой и влажной, как куриная грудка, ладошкой» превращается по ходу развития сюжета в инфернального персонажа — и это, кстати, ещё один признак актуальной прозы. Таня не боится смешивать реализм с жанровыми элементами, что плодотворно влияет и на саспенс, и на правдоподобность.
                    p Ближе к развязке «Бассейн» превращается в психологический триллер с изрядной долей иррациональности и жути. Финал добавляет рассказу ещё один надуровень. Окидывая взглядом историю целиком, замечаешь, как противостояние долга и соблазна сменяется битвой искренности с постмодернизмом.
                    p Кто из них в итоге победит — не скажу. Читайте сами. Рассказ опубликован в паблике издательства «Éditions Chat» ⚒︎
                    h3 другие выпуски рубрики
                    ul
                        li
                            a(href="rest-valitov-orpheus.html")
                                span Тимур Валитов «Орфей»
                        li
                            a(href="rest-zamyatin-waterflood.html")
                                span Евгений Замятин «Наводнение»
                        li
                            a(href="rest-rasputin-french-lessons.html")
                                span Валентин Распутин «Уроки французского»
                        li
                            a(href="rest-gorchev-from-spb-to-moscow.html")
                                span Дмитрий Горчев «Из Петербурга в Москву»
                        li
                            a(href="rest-vampilov-duck-shooting.html")
                                span Александр Вампилов «Утиная охота»
                        li
                            a(href="rest-nosov-two-tablets.html")
                                span Сергей Носов «Две таблички на газоне»
                        li
                            a(href="rest-rybnikova-train-to-sakhalin.html")
                                span Мария Рыбникова «Поезд на Сахалин»
                        li
                            a(href="rest-blagoveschenskiy-on-factory.html")
                                span Николай Благовещенский «На Литейном заводе»
                        li Татьяна Млынчик «Бассейн»
                        li
                            a(href="rest-panteleev-bag.html")
                                span Л.Пантелеев «Пакет»
                    +articleAuthor('','Артём Сошников', 'http://soshnikov-writing.art/')
                    +articleYear('Петроград', '2020')
