include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year
include ../../components/figure/figure

- var title = 'Привал, №4: «Из Петербурга в Москву» Дмитрия Горчева'
- var desc = 'Раз в неделю в рубрике «Привал» мы советуем по одному реалистическому рассказу, достойному внимания. В четвёртом выпуске — ироническая издёвка над микромиром человека от мастера короткой прозы Дмитрия Горчева.'
- var id = 'rest-gorchev-from-spb-to-moscow'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    p.article__content-secondary-info Прочесть рассказ «Из Петербурга в Москву» вы можете
                        =" "
                        a(href="http://litra.pro/plan-spaseniya/gorchev-dmitrij/read/4")
                            span на портале litra.pro
                        =" "
                        | — совершенно бесплатно
                    p ​​Очень хочется отвлечься от самоизоляции, пандемии, финансового кризиса, но не вспомнить в такое время прозу Дмитрия Горчева невозможно.
                    p Горчев самоизолировался от людей задолго до того, как это стало мейнстримом: уехал на псковщину и жил там в избушке, крутил пельмени, читал Толстого, скучал по украденному колуну.
                    p Изначально проза Горчева казалась мне ироничным взглядом интеллигента на девяностые, но сейчас, перечитывая её в третий раз, понимаю — Горчев откровенно издевался над мещанским укладом, чаяниями и надеждами постсоветского человека.
                    p Четыре дня не выхожу из дома. Как же тянет нарушить карантин! От любого, даже микроскопического ограничения свободолюбивые люди чахнут.
                    p Пандемия дала нам шанс задуматься: если даже на диване с ноутбуком так тошно, то каково же людям в Крестах или Бутырке?
                    p И раз уж теперь со спокойной совестью на улицу не выйти, давайте читать цикл Горчева «Из Петербурга в Москву» — признание в любви родному городу, насыщенное гротеском, иронией и абсурдом.
                    p Горчев обладал удивительной оптикой. Высмеивая дичайшие из стереотипов, он расщеплял их до состояния умиления.
                    p На самом деле, больше всего я люблю его автобиографический сборник «Поиск предназначения». Если вы любите короткую прозу и хотите отвлечься от коронавируса, начинайте с него.
                    p Тем же, кто читать мои рекомендации не собирается, советую включить за ужином вот этот выпуск «Школы злословия». Запись разбита на четыре части по десять минут, их легко найти на Ютубе.
                    p Обещаю, писатель вас очарует — и вы, скорее всего, вернётесь к моим рекомендациям. ⚒︎
                    h3 другие выпуски рубрики
                    ul
                        li
                            a(href="rest-valitov-orpheus.html")
                                span Тимур Валитов «Орфей»
                        li
                            a(href="rest-zamyatin-waterflood.html")
                                span Евгений Замятин «Наводнение»
                        li
                            a(href="rest-rasputin-french-lessons.html")
                                span Валентин Распутин «Уроки французского»
                        li Дмитрий Горчев «Из Петербурга в Москву»
                        li
                            a(href="rest-vampilov-duck-shooting.html")
                                span Александр Вампилов «Утиная охота»
                        li
                            a(href="rest-nosov-two-tablets.html")
                                span Сергей Носов «Две таблички на газоне»
                        li
                            a(href="rest-rybnikova-train-to-sakhalin.html")
                                span Мария Рыбникова «Поезд на Сахалин»
                        li
                            a(href="rest-blagoveschenskiy-on-factory.html")
                                span Николай Благовещенский «На Литейном заводе»
                        li
                            a(href="rest-mlynchik-pool.html")
                                span Татьяна Млынчик «Бассейн»
                    +articleAuthor('','Артём Сошников', 'http://soshnikov-writing.art/')
                    +articleYear('Петроград', '2020')
