include ../../components/head/head
include ../../components/header/header
include ../../components/article-author/atricle-author
include ../../components/article-year/article-year

- var title = 'О романе Владимира Сорокина «Манарага»'
- var desc = 'Неплохо, но до пьедестала не дотягивает'
- var id = 'sorokin-manaraga'

doctype html
html(prefix="og: http://ogp.me/ns#")
+head(`${id}`,`${title}`, `${desc}`)
body.body_light
    +header('dark')
    article.article
        div.article__header
            h1.article__headline=title
            p.article__description=desc
        div.article__content
            div.article__content-row
                div.article__content-left
                    p Новый роман Сорокина громко грохнул в начале года и так же стремительно потонул в море новостей — возможно, из-за того, что «Манарага» даже близко не претендует на пьедестал произведений признанного прозаика.
                    p Но предшествующие заслуги автора не отменяют нынешних. «Манарага» — тот случай, когда книга удаётся уже на уровне идеи. Задумка Сорокина охотно деконструируется, слои заманчиво отделяются друг от друга, являя читателю одновременно простоту и гениальность. Люди жгут книги. Люди жгут книги ради гастрономического потребления. Бумажные книги вымирают. Книги заменяет искусственный интеллект. У книг есть вкус. У книг останется лишь эксклюзивность. И так далее.
                    p Добротную идею Сорокин мастерски обжаривает в монолитном стиле и жанровом разнообразии. Дневниковые записи сменяют нарочито неумелые рассказы второстепенных героев, диалоги трансформируются в мини-пьесу или коллективное пение, прямая речь перетекает в поэтизированную притчу, но текст ни разу не спотыкается на переходах и не сбивает ритм.
                div.article__content-right
                    figure
                        img(src="../../img/sorokin-manaraga-cover.jpg")
                        figcaption Владимир Сорокин «Манарага». Издательство «Корпус», 2017. 256 с.
            div.article__content-row
                div.article__content-left
                    p Сорокин высмеивает пошлость современных традиционалистов, но сам ни разу не заходит за черту: и гастрономические изыски, и эротические сцены звучат сочно и органично. Всё это приправлено чисто набоковскими зарисовками одновременно мультикультурной и реваншистской Европы будущего
                    p Кажется, многослойной идее не хватает размаха в рамках небольшой книжки. Сорокин мог, но не захотел превращать «Манарагу» в толстый всеобъемлющий роман и он абсолютно прав. На толстом романе не прочтёшь что-то лёгкое, а вот на ёмком, фактурном издании маэстро приготовит небольшой сочный рибай, после которого читатель встанет из-за стола немножечко голодным.
                    +articleAuthor('','Артём Сошников', 'http://soshnikov-writing.art/')
                    +articleYear('Петроград', '2017')
